<app-header></app-header>
<!-- Profile jumbotron -->
<div class="container">
  <div class="jumbotron text-center hoverable">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="assets/images/profile.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md text-md-left ml-3 mt-3">
        <h4 class="h4 mb-4">{{currentUser().firstname | titlecase}} {{currentUser().name | titlecase}}</h4>
        <br />
        <!-- Username -->
        <div class="d-flex justify-content-between">
          <div class="text-small">
            <strong>Username</strong>
            <p class="last-message text-muted">{{currentUser().username | titlecase}}</p>
          </div>
          <div class="chat-footer">
            <br />
            <span class="text-muted float-right"><mdb-icon fas icon="check" style="color: #1b4e75"></mdb-icon></span>
          </div>
        </div>

        <!-- Email -->
        <div class="d-flex justify-content-between">
          <div class="text-small">
            <strong>Email</strong>
            <p class="last-message text-muted">{{currentUser().email}}</p>
          </div>
          <div class="chat-footer">
            <br />
            <span class="text-muted float-right"><mdb-icon fas icon="check" style="color: #3187ca"></mdb-icon></span>
          </div>
        </div>

        <!-- Role -->
        <div class="d-flex justify-content-between">
          <div class="text-small">
            <strong>Role</strong>
            <p class="last-message text-muted">{{currentUser().role}}</p>
          </div>
          <div class="chat-footer">
            <br />
            <span class="text-muted float-right"><mdb-icon fas icon="check" style="color: #1b4e75"></mdb-icon></span>
          </div>
        </div>
      </div>

      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
<!-- Profile jumbotron -->
<app-footer></app-footer>
