<!-- Content : name, date, message -->
<div class="row mb-5">
  <div class="col-sm-10 col-12">
    <!-- Name -->
    <a>
      <h5 class="user-name font-weight-bold">{{article.title}}</h5>
    </a>

    <!-- Date | Will be auto-set from database | Skip This
    <div class="card-data ">
      <ul class="list-unstyled">
        <li class="comment-date font-small">
          <i class="far fa-clock-o"></i> 05/10/2015
        </li>
      </ul>
    </div>
    -->

    <!-- Message -->
    <p class="dark-grey-text article">
      {{article.message}}
    </p>
  </div>
</div>
<!-- Main wrapper -->

